<div class="page-header">
    <h1>
        用户列表
        <a ng-href="#" ng-click="ctrl.print();"
           class="btn btn-default"><i class="fa fa-clipboard"></i>打印到Console</a>
        <a href="/users/create" class="btn btn-primary hidden-print"
           ng-if="main.permission['user']['create']">
            <span class="glyphicon glyphicon-plus"></span>
            增加用户
        </a>
        <a href="/users/import" class="btn btn-default hidden-print"
           ng-if="main.user.code=='admin'">
            <span class="glyphicon glyphicon-import"></span>
            批量导入用户
        </a>
    </h1>
</div>

<!-- 对有可能出现的修改后服务器的反馈信息，这里统一显示在提交表单的下面，当然只在有user.message的时候 -->
<div class="row show-hide-message hidden-print" ng-if="ctrl.paginator.message">
    <div class="col-sm-12">
        <!-- -->
        <div class="alert alert-success" ng-if="ctrl.paginator.isSuccess">
            {{ ctrl.paginator.message }}
        </div>
        <div class="alert alert-danger" ng-if="!ctrl.paginator.isSuccess">
            {{ ctrl.paginator.message }}
        </div>

    </div>
</div>

<div class="jumbotron text-center hidden-print" ng-if="ctrl.paginator.processing">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>正在加载用户信息 ...</p>
</div>

<div ng-if="main.permission['user']['view']">
    <!--分页栏，仅在数据行大于一页时出现-->
    <!--注意这里不能全部用一次性绑定，因为页码会动态改变-->
    <ul class="nav pagination col-sm-6 hidden-print" ng-if="ctrl.paginator.items">
        <li ng-repeat="pagnav in ctrl.paginator.items" class="{{pagnav.class}}"
            title="{{::pagnav.tooltip}}">
            <a ng-click="ctrl.paginator.page(pagnav.pageIndex)">{{pagnav.label }}</a>
        </li>
        <span> </span>
        <div class="input-group" ng-if="ctrl.paginator.needGotoPage">
            <span class="input-group-addon">第</span>
            <input type="text" class="form-control" placeholder="页码"
                   ng-model="ctrl.paginator.givenPageGoto"
                   ng-keypress="ctrl.paginator.goto($event)">
            <span class="input-group-addon">页 </span>
            <span> </span>
            <span class="input-group-addon">每页</span>
            <input type="text" class="form-control" placeholder="行数"
                   ng-model="ctrl.paginator.givenPageSize"
                   ng-keypress="ctrl.paginator.setPageSize($event)">
            <span class="input-group-addon">行</span>
        </div>
        <div class="input-group" ng-if="!ctrl.paginator.needGotoPage">
            <span class="input-group-addon">每页</span>
            <input type="text" class="form-control" placeholder="行数"
                   ng-model="ctrl.paginator.givenPageSize"
                   ng-keypress="ctrl.paginator.setPageSize($event)">
            <span class="input-group-addon">行</span>
        </div>
    </ul>

    <!--筛选框，收集关键字，以空格为分割-->
    <ul class="nav pagination col-sm-6 hidden-print" ng-if="ctrl.paginator.showFilter">
        <div class="input-group">
            <span class="input-group-addon">筛选</span>
            <input type="text" class="form-control"
                   placeholder="筛选关键字,用空格分隔"
                   ng-model="ctrl.paginator.keywords"
                   ng-keypress="ctrl.paginator.filter($event)">
            <span class="input-group-addon glyphicon glyphicon-remove"
                  title="清除筛选结果"
                  ng-click="ctrl.paginator.clearFilter()"></span>
        </div>
    </ul>

    <!-- 如果当前控制器的对象有内容，就以列表的方式显示 -->
    <table class="table table-bordered table-striped" ng-if="ctrl.paginator.data">
        <thead>
        <!-- 表头部分 -->
        <tr>
            <th>序号<span class="badge">{{ctrl.paginator.resultCount}}</span></th>
            <th><a ng-href="#" ng-click="ctrl.paginator.sort('code')"
                   title="单击按代号排序，再次单击反序">代号</a>
                <button type="button" class="btn btn-default btn-xs" title="自定义筛选代号"
                        ng-click="ctrl.paginator.showCustomFilter('code')">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
                <div ng-if="ctrl.paginator.customFilter.code.show">
                    <input type="text" placeholder="筛选代号关键字"
                           ng-model="ctrl.paginator.customFilter.code.value"
                           ng-keypress="ctrl.paginator.filter($event)">
                    <span class="glyphicon glyphicon-remove"
                          title="清除自定义筛选结果"
                          ng-click="ctrl.paginator.clearFilter('code','value')"></span>
                </div>
            </th>
            <th><a ng-href="#" ng-click="ctrl.paginator.sort('name')"
                   title="单击按名称排序，再次单击反序">名称</a>
                <button type="button" class="btn btn-default btn-xs" title="自定义筛选名称"
                        ng-click="ctrl.paginator.showCustomFilter('name')">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
                <div ng-if="ctrl.paginator.customFilter.name.show">
                    <input type="text" placeholder="筛选名称关键字"
                           ng-model="ctrl.paginator.customFilter.name.value"
                           ng-keypress="ctrl.paginator.filter($event)">
                    <span class="glyphicon glyphicon-remove"
                          title="清除自定义筛选结果"
                          ng-click="ctrl.paginator.clearFilter('name','value')"></span>
                </div>
            </th>
            <th>角色
                <button type="button" class="btn btn-default btn-xs" title="自定义筛选角色"
                              ng-click="ctrl.paginator.showCustomFilter('role')">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
                <div ng-if="ctrl.paginator.customFilter.role.show">
                    <button type="button" class="btn btn-default" ng-model="ctrl.paginator.customFilter.role.value"
                            data-multiple="1" data-animation="am-flip-x"
                            ng-change="ctrl.paginator.filter()"
                            data-placeholder = "请选择角色"
                            bs-options="r._id as r.name for r in ctrl.roles" bs-select>
                    </button>
                </div>
            </th>
            <th>批注</th>
            <th><a ng-href="#" ng-click="ctrl.paginator.sort('remark')"
                   title="单击按备注排序，再次单击反序">备注</a>
                <button type="button" class="btn btn-default btn-xs" title="自定义筛选备注"
                        ng-click="ctrl.paginator.showCustomFilter('remark')">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
                <div ng-if="ctrl.paginator.customFilter.remark.show">
                    <input type="text" placeholder="筛选备注关键字"
                           ng-model="ctrl.paginator.customFilter.remark.value"
                           ng-keypress="ctrl.paginator.filter($event)">
                    <span class="glyphicon glyphicon-remove"
                          title="清除自定义筛选结果"
                          ng-click="ctrl.paginator.clearFilter('remark','value')"></span>
                </div>
            </th>
            <th><a ng-href="#" ng-click="ctrl.paginator.sort('diskSize')"
                   title="单击按容量排序，再次单击反序">容量</a>
                <button type="button" class="btn btn-default btn-xs" title="自定义筛选容量"
                        ng-click="ctrl.paginator.showCustomFilter('diskSize')">
                    <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                </button>
                <div ng-if="ctrl.paginator.customFilter.diskSize.show">
                    <input type="number" title="起始容量大小(单位b)"
                           ng-model="ctrl.paginator.customFilter.diskSize.value">
                <span class="glyphicon glyphicon-ok"
                      title="执行容量大小筛选"
                      ng-click="ctrl.paginator.filter()"></span>
                    <input type="number" min="0" title="截至容量大小(单位b)"
                           ng-model="ctrl.paginator.customFilter.diskSize.value2">
                </div>
            </th>
            <th class="col-sm-2 hidden-print">操作</th>
        </tr>
        </thead>
        <tbody>
        <!-- 表的主体部分，对每一个用户对象来循环 -->
        <tr ng-repeat="r in ctrl.paginator.data">
            <td>{{:: $index+1+((ctrl.paginator.current-1)*ctrl.paginator.pageSize) }}</td>
            <td>{{:: r.code }}</td>
            <td>{{:: r.name }}</td>
            <td>{{:: r.roleNames }}</td>
            <td>{{:: r.marksString }}</td>
            <td>{{:: r.remark }}</td>
            <td>{{:: r.diskSizeB }}</td>
            <!-- 每一行末尾显示修改和删除两个选择 -->
            <td class="col-sm-2 hidden-print">
                <!-- 修改操作对应了一个angular的路由映射到/ctrl.paginator./:role_id上面去 -->
                <a ng-href="/users/{{:: r._id }}" class="btn btn-primary"
                   ng-if="(main.permission['user']['update'])">修改</a>

                <!-- 删除不需要跳转页面，而是执行一个控制对象附加的动作，即deleteRole()方法 -->
                <a href="#" ng-click="ctrl.paginator.modalDelete(r)" class="btn btn-danger"
                   ng-if="(r.code!='admin') && (main.permission['user']['delete'])">删除</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal Markup kept out of all the div elements -->
    <div class="modal fade" id="modalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">你确定要删除该学生？</h4>
                    <h6 class="modal-title">{{ctrl.paginator.deleteId}}</h6>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <h3>{{ctrl.paginator.deleteMessage}}</h3>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="ctrl.paginator.delete()">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>