<div class="page-header">
    <h1>
        批量导入用户
        <a href="/users" class="btn btn-default hidden-print">
            <span class="glyphicon glyphicon-log-out"></span>
            返回用户列表
        </a>
    </h1>
</div>

<!-- 对有可能出现的修改后服务器的反馈信息，这里统一显示在提交表单的下面，当然只在有user.message的时候 -->
<div class="row show-hide-message hidden-print" ng-if="ctrl.message">
    <div class="col-sm-12">
        <!-- -->
        <div class="alert alert-success" ng-if="ctrl.isSuccess">
            {{ ctrl.message }}
        </div>
        <div class="alert alert-danger" ng-if="!ctrl.isSuccess">
            {{ ctrl.message }}
        </div>
    </div>
</div>

<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
</style>

<div class="col-md-12" ng-if="ctrl.isProgressing">
    {{ctrl.progressTitle}}
    <div class="progress" style="">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ctrl.progress}}"
                 aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ctrl.uploader.progress}}%;">
                {{ctrl.progress}}%
            </div>
        </div>
    </div>
</div>
<div class="col-md-12" ng-if="!ctrl.isProgressing && main.loggedIn && main.user.code=='admin'" nv-file-drop="" uploader="ctrl.uploader">
        <h3>请选择导入的文件<a href="public/assets/templates/userImportTemplate.txt" download="userImportTemplate.txt" target="_self"
                       class="btn btn-xs btn-info"><i class="fa fa-download"></i>[导入模版文件下载]</a></h3>
        <input type="file" nv-file-select uploader="ctrl.uploader" /><br/>
        <div ng-if="ctrl.uploader.isHTML5">
            <div nv-file-drop="" uploader="ctrl.uploader">
                <div nv-file-over="" uploader="ctrl.uploader" over-class="nv-file-over" class="well my-drop-zone">
                    <h2><em>或者请将要导入的文件拖至这里</em></h2>
                </div>
            </div>
        </div>
</div>

<div ng-if="ctrl.users && ctrl.users.length>0">
    <div class="col-md-2">从文件中读取的用户：</div>
    <div class="col-md-2 col-md-offset-1">
        分配硬盘<input type="text" ng-model="ctrl.diskSize"/>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <button type="button" class="form-control" name="role"
                ng-model="ctrl.role"
                ng-required="true"
                title="用户的角色，决定了用户的权限大小，可多选，必填项"
                data-multiple="1" data-animation="am-flip-x"
                data-placeholder = "请选择角色"
                bs-options="r._id as r.name for r in ctrl.roles" bs-select>
        </button>
    </div>
    <div class="col-md-2 col-md-offset-1">
        <a href="#" ng-click="ctrl.import()" ng-disabled="ctrl.isProgressing || !ctrl.validate()"
           class="btn btn-lg btn-primary" title="导入到数据库">导入</a>
    </div>

    <!-- 如果当前控制器的对象有内容，就以列表的方式显示 -->
    <table class="table table-bordered table-striped" ng-if="ctrl.users">
        <thead>
            <!-- 表头部分 -->
            <tr>
                <th>序号<span class="badge">{{ctrl.users.length}}</span></th>
                <th>代号</th>
                <th>姓名</th>
                <th>密码</th>
                <th>备注</th>
                <th class="col-sm-1 hidden-print">
                    <a href="#" ng-click="ctrl.deleteAll()" class="btn btn-lg btn-danger">清空</a>
                </th>
            </tr>
        </thead>
        <tbody>
        <!-- 表的主体部分，对每一个用户对象来循环 -->
        <tr ng-repeat="r in ctrl.users">
            <td>{{:: $index+1 }}</td>
            <td>{{:: r.code }}</td>
            <td>{{:: r.name }}</td>
            <td>{{:: r.pwd }}</td>
            <td>{{:: r.remark }}</td>
            <!-- 每一行末尾显示修改和删除两个选择 -->
            <td class="col-sm-1 hidden-print">
                <a href="#" ng-click="ctrl.deleteUser($index)" class="btn btn-danger">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>