<!--<div class="container fill main">-->
    <!--<div class="left fill padding-right">-->

      <!--<textarea class="inputText fill col-black" id="inputText" ng-model="inputText" onkeydown="updateViewHeight()" tab placeholder="markdown">-->
      <!--</textarea>-->
    <!--</div>-->
    <!--<div class="right fill padding-left">-->
        <!--JavaScript作为网络开发语言已经越来越流行，它一开始为小型发展项目，并已渗透到企业并可以在大型公司像微软、易趣网、LinkedIn、雅虎、沃尔玛、Uber、Oracle中看到。-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container-fluid">-->
    <!--<div class="row-fluid">-->
        <!--<div class="span2">-->
            <!--<p>-->
                <!--JavaScript作为网络开发语言已经越来越流行，它一开始为小型发展项目，并已渗透到企业并可以在大型公司像微软、易趣网、LinkedIn、雅虎、沃尔玛、Uber、Oracle中看到。-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="span10">-->
            <!--<p>-->
                <!--JavaScript作为网络开发语言已经越来越流行，它一开始为小型发展项目，并已渗透到企业并可以在大型公司像微软、易趣网、LinkedIn、雅虎、沃尔玛、Uber、Oracle中看到。-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- 在访问主页时的一种视图布置方式 -->
<div class="jumbotron">
    <h1>易盘 <small>基于MEAN框架的新一代网络教学服务平台</small></h1>
    <p ng-if="!main.loggedIn">
        <a class="btn btn-primary btn-lg" href="/login">登录</a>
    </p>
    <!--<div treecontrol class="tree-classic"-->
         <!--tree-model="ctrl.tree.data"-->
         <!--options="ctrl.tree.options"-->
         <!--selected-node="ctrl.tree.selected"-->
         <!--expanded-nodes="ctrl.tree.expanded"-->
         <!--on-selection="ctrl.treeSelected(node, selected, $parentNode, $index)"-->
         <!--on-node-toggle="ctrl.treeToggle(node, expanded)"-->
    <!--&gt;-->
        <!--{{node.name}}-->
    <!--</div>-->
    <p>
        JavaScript作为网络开发语言已经越来越流行，它一开始为小型发展项目，并已渗透到企业并可以在大型公司像微软、易趣网、LinkedIn、雅虎、沃尔玛、Uber、Oracle中看到。
    </p>
    <p>
        MEAN框架是指使用四款工具：MongoDB，Express，AngularJS和Nodejs。使用这四款工具可以让开发人员创建高效、有组织的、交互式的应用程序，每个工具的语言都是JavaScript，你可以无缝地贯穿整个Web的开发过程，它的特点有：
    <ul>
        <li>JavaScript的服务器（Node和Express）；</li>
        <li>MVVC模式的JavaScript客户端（AngularJS）；</li>
        <li>非关系型数据库（MongoDB）；</li>
        <li>用JSON对象来传输数据。</li>
    </ul>

    </p>
    <p>
        无论是数据库、服务器还是客户端，只需要一门单独的语言JavaScript，这极大的提高了开发生产率，甚至客户端的开发人员也可以很容易地理解服务器上的大部分代码。从数据库开始，信息以JSON格式来存储，然后可以写JSON的查询发送到浏览器的前端。这特别适用于团队开发。MEAN框架使这一切变得更加透明，并已被证明能大大节省开发时间。
    </p>

    <p>
        易盘是使用MEAN框架实现的一个网络教学服务平台，包含网络文件管理、在线考试、签到和作业统计等日常教学服务功能。

        易盘项目使用的第三方模块有：express multer jsonwebtoken async bcrypt-nodejs body-parser morgan mongoose path file-stream-rotator fs angular angular-route async angular-strap font-awesome bootstrap angular-locale_zh-cn angular-file-upload等。
    </p>

</div>
